@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<h1> začínáme nějakou animací </h1>

<canvas id="babylon-canvas" width="600" height="400" background-color="#444444" style="border:1px solid #000000;"></canvas>

<style> 
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #cccccc;
  font-size: 16px;
  resize: none;
}
</style>

<form style="position: absolute; top: 550px; left: 350px; " id="usrform">
<textarea id="myTextarea" rows="4" cols="50" name="comment" >
dejte slovo červený na 0 pozici textu a vyčkejte na levou obrátku frézy</textarea>
</form>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
                await JsRuntime.InvokeVoidAsync("babylonInterop.initCanvas", "babylon-canvas");

        }
    }

}















<!--
    <script>
    console.log(" console jojojo ");
    </script>
-->

<!---->

