@page "/me_page"
<h3>Me_page - výstupy C# </h3>
<!---->

<!-- tenhle form je umístěn mimo stránku a zabraňuje chybě při setrvání na Me_page -->
<!--
<form style="position: absolute; top: 5000px; left: 400px; " id="usrform">
<textarea id="myTextarea" rows="4" cols="50" name="comment" ></textarea>
</form>
-->

@functions {
    private string message = " !  !  !  Hello, Blazor! ";
    private string pridat = " juchů ";

    private void ShowMessage()
    {
        Console.WriteLine(message + " na konzolu " + pridat);
    }
}

@{
    ShowMessage();
//------------------------------------------------------------------------------------
using Microsoft.AspNetCore.Components;
using Microsoft.JSInterop;
using System.Threading.Tasks;
//using BabylonBlazor.Babylon;
using System;
using System.Dynamic;
using System.Collections.Generic;

    public class BabylonCanvasBase : ComponentBase
    {
        [Inject] IJSRuntime JsRuntime { get; set; }
        //[Inject] IBabylonFactory Babylon { get; set; }

        protected async override Task OnAfterRenderAsync(bool firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);

            if (firstRender)
            {
                //await JsRuntime.InvokeVoidAsync("babylonInterop.initCanvas", "babylon-canvas");
                //Console.WriteLine(" c šarp je ");
            }
        }
    }

//------------------------------------------------------------------------------------
 }

<!--
<script>
//console.log(" ------MEVAR------ = ",mevar);
//var mevar = "restartuj";
</script >
-->

<br>
<br>
<br>
<br>

<h3> na obrazovku @pridat</h3>

<br>
<br>
<br>
<br>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
