@page "/me_page"
<h3>Me_page - testíky na výstupy </h3>
<!---->

<!-- tenhle form zabraňuje chybě při setrvání na Me_page -->

<form style="position: absolute; top: 550px; left: 350px; " id="usrform">
<textarea id="myTextarea">jinýtext</textarea>
</form>


@functions {
    private string message = " !  !  !  Hello, Blazor! ";
    private string pridat = " juchů ";

    private void ShowMessage()
    {
        //Console.WriteLine(message + " na konzolu " + pridat + " promprog = " + promprog);
        Console.WriteLine(message + " na konzolu " + pridat);
    }
}

@{
    ShowMessage();
 }


<br>
<br>
<br>
<br>

<h3> na obrazovku @pridat</h3>

<br>
<br>
<br>
<br>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

